/* 
   Community Rent-A-Bike, Bike Rental Page
	Filename: a_styles.css
      
	Author: Avery Garant  
	Date: 1/29/2022      
*/

 /* reset Sytles */
 html {
   font-size: 14px;
}
article, aside, body, div, footer, header, h1, h2, h3, nav, p, img, figcaption, iframe, ul, table,
thead, tbody, th, td {
   border: 0;
   padding: 0;
   margin: 0;
}
ul{
	list-style-type: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/* Header */



/* Body */

.overlap {
    position: relative;
    text-align: center;
    color: black;
}
img.overlap {
   object-fit: cover;
   opacity: 0.7;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 70%;
}
input[type=date], input[type=submit]{
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
	border: none;
}
select#cities, select#bikesnum{
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	border: none;
}
input[type=submit]{
	
}
h2{
	font: "Times New Roman";
	padding: 40px;
	font-size: 4em;
	font-family: arvo, Calibri, Tahoma;
}
input[type=submit]{
	background-color: green;
	transition-duration: 0.4s;
}
input[type=submit]:hover{
	background-color: white;
	color: green;
	border: 2px solid green;
}
figcaption{
	text-align: center;
	font-family: arvo, Calibri, Tahoma;
	font-size: 18px;
	font-weight: bold;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #F0F0F0;
    bottom: 0;
}
