/*James W CSS Starts here*/
body {
}



div#header {
      width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
}
div#description p {
    color: black;
    font-family: arvo, Calibri, Tahoma;
    font-size: 25px;
}



div#header2 {
    width: 100%;
    margin-top: 30px;
    left: 0;
    background-color: #909090;
    top: 91px;
    color: white;
}

    div#header2 h2 {
        align-content: center;
        top: 3em;
        margin: 90px, 90px, 90px, 90px;
    }

nav#mainnav {
    width: 100%;
    margin-left: 1em;
    top: 91px;
}

    nav#mainnav ul {
        list-style-type: none;
    }

        nav#mainnav ul li {
      
            text-align: center;
            display: inline;
            width: 10%;
            float: left;
            margin-left: .5em;
         
        }

            nav#mainnav ul li a {
                list-style-type: none;
                font-family: sans-serif, 'Kunstler Script', sans-serif;
                font-size: .9em;
                font-weight: 900;
                text-decoration: none;
                color: black;
                         padding: .75em;
            }

div#footer {
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #F0F0F0;
    bottom: 0;
}

/*James W CSS Ends here*/